.com-comfirm {position: fixed;top: 36%;left: 19%;width: 62%;background-color: #fff;z-index: 99;border-radius: 6px;font-size: 16px;}
.com-comfirm-content {padding: 24px 0;}
.com-comfirm-icon-wrap {text-align: center;}
.com-comfirm-icon-wrap img {width: 55px;display: inline-block;}
.com-comfirm-desc {text-align: center;color: #333;margin-top: 8px;font-size: 16px;line-height: 1em;}
.com-comfirm-foot {border-top: 1px solid #dcdcdc;display: flex;}
.com-comfirm-foot > div {flex: 1;line-height: 44px;text-align: center;position: relative;}
.com-comfirm-foot > div:active {background-color: rgba(0, 0, 0, .1);}
.com-comfirm-foot > .com-comfirm-cancel::after {position: absolute;top: 0;right: 0;height: 100%;
  width: 1px;background-color: #dcdcdc;content: '';}
.com-comfirm-foot > div:nth-child(1) {color: #333;}
.com-comfirm-foot > div:nth-child(2) {color: #5b8fff;}
/*遮罩层*/
.my-mask {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, 0.3);z-index: 8;}
.fade-enter-active, .fade-leave-active {transition: opacity .3s;}
.fade-enter, .fade-leave-to {opacity: 0;}